/** NAVBAR**/
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  background-color: transparent;
  padding-top: 20px;
  padding-left: 50px;
  padding-right: 50px;
}

.navLinks {
  display: flex;
  align-items: center;
  gap: 30px;
}

.navLinks a {
  color: #eab308;
  transition: color 0.3s ease;
}

.navLinks a:hover {
  color: #c47d00; /* a slightly darker shade */
}

.navLinks {
  display: none;
}
.sheetButton {
  display: flex;
  border-radius: 100%;
  width: 26px;
  height: 26px;
  cursor: pointer;
}
@media (min-width: 768px) {
  /* md breakpoint */
  .navbar {
    padding-left: 100px;
    padding-right: 100px;
  }
  .navLinks {
    display: none;
  }
}

@media (min-width: 1024px) {
  /* lg breakpoint */
  .navbar {
    padding-left: 120px;
    padding-right: 120px;
  }
  .navLinks {
    display: flex;
    align-items: center;
    gap: 30px;
  }
  .sheetButton {
    display: none;
  }
}

.brandLink {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.brandImage {
  width: 25px;
  height: 25px;
}
.brandName {
  font-weight: 600;
  color: #eab308;
  font-size: 23px;
}

/** FOOTER**/
.footer {
  width: 100%;
  padding-top: 40px;
  color: white;
  display: block;
  background-color: rgba(64, 64, 64, 0.8);
  backdrop-filter: blur(8px); /* Adjust blur intensity as needed */
  -webkit-backdrop-filter: blur(8px); /* For Safari support */
}

.container {
  max-width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 30px;
  padding: 20px 40px;
}

.linksGroup {
  flex: 1;
  min-width: 150px;
  margin-bottom: 30px;
  padding-right: 20px;
}

.groupTitle {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #ecf0f1;
}

.linksList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.linksList li {
  margin-bottom: 10px;
}

.contractsGroup {
  grid-column: span 2;
  width: fit-content;
}

.contractsList {
  display: inline-flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  gap: 6px;
  margin-bottom: 10px;
  color: #bdc3c7;
}

.contractsList:hover {
  color: #ffffff;
  cursor: pointer;
}

.contractsList span {
  text-wrap: normal; /* Changed from nowrap */
  display: block;
  font-size: 14px;
  word-break: break-word;
  font-weight: 600;
}
.contractsList code {
  font-size: 14px;
}
.contractsListLogo {
  display: flex;
  gap: 7px;
}

.linksList a {
  color: #bdc3c7;
  text-decoration: none;
  font-size: 14px;
  transition: color 0.3s ease;
  display: flex;
  align-items: center;
  gap: 8px;
}

.linksList a:hover {
  color: #ffffff;
}

.footerIcon {
  width: 20px;
  height: 20xpx;
  border-radius: 100%;
}

.footerSocials {
  width: 50px;
  height: 50px;
  border-radius: 15%;
}

.socialsList {
  width: fit-content;
  gap: 16px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.bottomBar {
  padding: 10px;
  text-align: center;
}

.copyright {
  font-size: 14px;
  color: #95a5a6;
  margin: 0;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
  .container {
    gap: 20px;
  }

  @media (max-width: 480px) {
    .groupTitle {
      font-size: 18px;
    }
    .container {
      padding: 10px 20px;
      gap: 5px;
    }
    .footerSocials {
      width: 35px;
      height: 35px;
      border-radius: 15%;
    }
    .contractsGroup {
      /* grid-column: 1 / -1; Span all columns */
      width: 100%;
    }
  }
  .linksGroup {
    width: 100%;
    padding-right: 0;
  }
}
